<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Sport Picks | Fixture Pick - <%=teams[fixture.homeTeam].shtcode %> v <%=teams[fixture.awayTeam].shtcode %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script type="text/javascript">
		function localTime(utcTime){
			var m_lng = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
			var m_sht = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
			var d_lng = new Array("Sunday","Monday","Tuesday","Wednesday","Thusday","Friday","Saturday")
			var minutes = new String;
			var origTime = new Date(utcTime);
			if (origTime.getMinutes()<10){minutes = "0"+origTime.getMinutes();}else{minutes = origTime.getMinutes()}
    		document.write(d_lng[origTime.getDay()]+" "+origTime.getHours()+":"+minutes+", "+m_sht[origTime.getMonth()]+" "+origTime.getDate()+" "+origTime.getFullYear());
		}
	</script>

	
</head>
<body>
<div class="container">
	<!-- show any messages that come back with authentication -->

	<div class="page-header text-center">
		<h1>
		<%if (teams[fixture.homeTeam].logo != undefined){ %><img src="/images/team/logo/sm/<%=teams[fixture.homeTeam].logo %>" height=50em width=50em><% } else { %><img src="/images/none.png" height="64" width="64"> <% } %>
		<%= teams[fixture.homeTeam].name %> v <%= teams[fixture.awayTeam].name %>
		<%if (teams[fixture.awayTeam].logo != undefined){ %><img src="/images/team/logo/sm/<%=teams[fixture.awayTeam].logo %>" height=50em width=50em><% } else { %><img src="/images/none.png" height="64" width="64"> <% } %> </h1>

		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/competitions">Competitions</a></li>
			<li><a href="/rounds?competition=<%= competition.id %>"><%= competition.name %></a></li>
			<li><a href="/fixtures?competition=<%= competition.id %>&round=<%= fixture.round %>"><%= round.name %></a></li>
			<li class="active"><%= teams[fixture.homeTeam].name %> v <%= teams[fixture.awayTeam].name %></li>
		</ol>
		<!-- LOCAL INFORMATION -->
		
		<div class="col-sm-6">
			<!-- show any messages that come back -->
			<% if (successMsg.length > 0) { %><div class="alert alert-success"><span class="fa fa-check"></span>&nbsp<%= successMsg %></div><% } %>
			<% if (dangerMsg.length > 0) { %><div class="alert alert-danger"><span class="fa fa-warning"></span>&nbsp<%= dangerMsg %></div><% } %>
			<% if (warningMsg.length > 0) { %><div class="alert alert-warning"><span class="fa fa-warning"></span>&nbsp<%= warningMsg %></div><% } %>		
			
			<h2>fixture</h2>
			<h3><%= teams[fixture.homeTeam].name %> v <%= teams[fixture.awayTeam].name %></h3>
			<script type="text/javascript">localTime("<%= fixture.closeDate %>");</script>
			<form action="/submitPick" method="post" role="form">
				<% competition.scoring.forEach(function (scoringOption){ %>
					<% if (scoringOption.type == 'winner') { %>
					<!-- WINNER SCORING OPTION -->
						<fieldset>
							<legend>Winner</legend>
							<div class="radio">
								<label for="<%= fixture.homeTeam %>">
									<input type="radio" name="winner" id="<%= fixture.homeTeam %>" value="<%= fixture.homeTeam %>"
										<% if (pick === null || pick.winner === undefined ) { %><% } else { %><% if (fixture.homeTeam==pick.winner.toString()) { %> checked <% } %> <% } %>
										<% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %> />
										<%if (teams[fixture.homeTeam].logo != undefined){ %><img src="/images/team/logo/sm/<%=teams[fixture.homeTeam].logo %>" height=16em width=16em><% } else { %><img src="/images/none.png" height="16" width="16"> <% } %>
									<%=teams[fixture.homeTeam].name %>
								</label>
							</div>
							<div class="radio">					
								<label for="<%= draw.id %>">
									<input type="radio" name="winner" id="<%= draw.id %>" value="<%= draw.id %>"
										<% if (pick === null || pick.winner === undefined ) { %><% } else { %><% if (draw.id==pick.winner.toString()) { %> checked <% } %> <% } %>
										   <% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %>/>
										   <img src="/images/none.png" width=16em height =16em>
									<%=draw.name %>
								</label>
							</div>					
							<div class="radio">					
								<label for="<%= fixture.awayTeam %>">
									<input type="radio" name="winner" id="<%= fixture.awayTeam %>" value="<%= fixture.awayTeam %>"
										<% if (pick === null || pick.winner === undefined ) { %><% } else { %><% if (fixture.awayTeam==pick.winner.toString()) { %> checked <% } %>  <% } %>
										 <% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %> />
										 <%if (teams[fixture.awayTeam].logo != undefined){ %><img src="/images/team/logo/sm/<%=teams[fixture.awayTeam].logo %>" height=16em width=16em><% } else { %><img src="/images/none.png" height=16em width=16em> <% } %>
									<%=teams[fixture.awayTeam].name %>
								</label>
							</div>
						</fieldset>
					<% } %>				

					<% if (scoringOption.type == 'exactResult') { %>						
					<!-- EXACT RESULT SCORING OPTION-->
						<fieldset>
							<legend>Exact result</legend>
							<div class = "form-group">
								<label for="homeScore"><%= teams[fixture.homeTeam].name %></label>
								<input name="homeScore" type="number" class = "form-control" id="homeScore" value="<% if (pick === null || pick.homeScore === undefined){ %>0<% } else { %><%= pick.homeScore %><% } %>" 
									 <% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %> />
							</div>
							<div class = "form-group">
								<label for="awayScore"><%= teams[fixture.awayTeam].name %></label>
								<input name="awayScore" type="number" class = "form-control" id="awayScore" value="<% if (pick === null || pick.awayScore === undefined){ %>0<% } else { %><%= pick.awayScore %><% } %>" 
								 <% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %> />
							</div>
						</fieldset>
					<% } %>
					
					<% if (scoringOption.type == 'scoreDifference') { %> 
					<!-- SCOREDIFFERENCE SCORING OPTION -->
						<fieldset>
							<legend>Score Difference (Margin)</legend>
							<% if (scoringOption.margins[0] == 0) { %>
								<div class = "radio">
									<label for="SD-0">
										<input type="radio" name="scoreDifference" id="SD-0" value = "0" 
										<% if ( (!(pick === null || pick.scoreDifference === undefined )) && (pick.scoreDifference==0) ) { %>checked <% } %> 
										<% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %> /> 0
									</label>
								</div>
							<% } else { %>
								<div class = "radio">
									<label for="SD-<%= scoringOption.margins[0] %>" >
										<input type="radio" name="scoreDifference" id="SD-<%= scoringOption.margins[0] %>" value = "<%= scoringOption.margins[0] %>" 
										<% if ( (!(pick === null || pick.scoreDifference === undefined )) && (pick.scoreDifference==scoringOption.margins[0]) ) { %>checked <% } %>
										<% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %>/> 0 - <%= scoringOption.margins[0] %>
									</label>
								</div>
							<% } %>
							<% for (var i=1; i < scoringOption.margins.length; i++) { %>
								<div class = "radio">
									<label for="SD-<%= scoringOption.margins[i] %>" >
										<input type="radio" name="scoreDifference" id="SD-<%= scoringOption.margins[i] %>" value = "<%= scoringOption.margins[i] %>"
										<% if ( (!(pick === null || pick.scoreDifference === undefined )) && (pick.scoreDifference==scoringOption.margins[i]) ) { %>checked <% } %>
										<% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %>/> 
										<% if ( scoringOption.margins[i-1]+1 == scoringOption.margins[i]) { %><%= scoringOption.margins[i] %><% } else { %><%= scoringOption.margins[i-1] + 1 %> - <%= scoringOption.margins[i] %> <% } %>
									</label>
								</div>
							<% } %>
							<% if (scoringOption.selectOver) { %>
								<div class = "radio">
									<label for="SD--1" >
										<input type="radio" name="scoreDifference" id="SD--1" value = "-1" <% if ( (!(pick === null || pick.scoreDifference === undefined )) && (pick.scoreDifference==-1) ) { %>checked <% } %>/> <%= scoringOption.margins[scoringOption.margins.length - 1 ] + 1 %> +
									</label>
								</div>
							<% } %>
						</fieldset>
					<% } %>
				 <% })%>
				 <!-- FORM METADATA AND BUTTON -->
				<input type="hidden" name="fixtureId" value="<%= fixture.id %>" >
				<input type="hidden" name="roundId" value="<%= fixture.round %>" >
				<input type="hidden" name="competitionId" value="<%= competition.id %>" >
				<button type="submit" class="btn btn-warning btn-lg" <% if (round.closeDate<= (Date.now()+(1000*60*60))) { %> disabled <% } %>>Submit</button>
			</form>		
		</div>
		
		<div class="col-sm-6">

			<h2>fixture results <span class="label label-default pull-right"><% if (points === null || points.points === undefined) { %><% } else { %><%= points.points %> points<% } %></span></h2>
			<table class="table table-striped table-responsive">
				<% if (!(fixture.winner == undefined)) { %> <tr><td>Winner</td><td><%= teams[fixture.winner].name %></td></tr><% } %>
				<% if (!(fixture.homeScore == undefined)) { %> <tr><td><%= teams[fixture.homeTeam].name %></td><td><%= fixture.homeScore %></td></tr><% } %>
				<% if (!(fixture.awayScore == undefined)) { %> <tr><td><%= teams[fixture.awayTeam].name %></td><td><%= fixture.awayScore %></td></tr><% } %>
			</table>
		</div>

	</div>
</div>
</body>
</html>

