<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Sport Picks | Result Administration</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script type="text/javascript">
		function localTime(utcTime){
			var m_lng = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
			var m_sht = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
			var d_lng = new Array("Sunday","Monday","Tuesday","Wednesday","Thusday","Friday","Saturday")
			var minutes = new String;
			var origTime = new Date(utcTime);
			if (origTime.getMinutes()<10){minutes = "0"+origTime.getMinutes();}else{minutes = origTime.getMinutes()}
    		document.write(d_lng[origTime.getDay()]+" "+origTime.getHours()+":"+minutes+", "+m_sht[origTime.getMonth()]+" "+origTime.getDate()+" "+origTime.getFullYear());
		}
	</script>		
	
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-cog"></span> Result Administration</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
		<ol class="breadcrumb">
			<li><a href='/resultAdmin'>Leagues</a></li>
			<li><a href="/resultAdmin/events?league=<%- league._id %>"><%= league.name %></a></li>
			<li><a href="/resultAdmin/rounds?event=<%- event._id %>"><%= event.name %></a></li>
			<li class="active"><%- round.name %></li>						
		</ol>
	</div>

	<!-- LOCAL INFORMATION -->
	<div class="col-sm-6">
		<!-- show any messages that come back -->
		<% if (successMsg.length > 0) { %><div class="alert alert-success"><span class="fa fa-check"></span>&nbsp<%= successMsg %></div><% } %>
		<% if (dangerMsg.length > 0) { %><div class="alert alert-danger"><span class="fa fa-warning"></span>&nbsp<%= dangerMsg %></div><% } %>
		<% if (warningMsg.length > 0) { %><div class="alert alert-warning"><span class="fa fa-warning"></span>&nbsp<%= warningMsg %></div><% } %>		
		<h2>fixtures</h2>
		<div class="list-group">
			<% fixtures.forEach(function(fixture){ %>
					<a href="/resultAdmin/updateFixture?fixture=<%= fixture.id %>" class="list-group-item"><%- fixture.homeTeam.name %> v <%- fixture.awayTeam.name %><span class="label label-default pull-right"><script type="text/javascript">localTime("<%= fixture.date %>");</script></span></a>
			<% }) %>
		</div>
	</div>
		
	<div class="col-sm-6">
	</div>
</div>

</div>
</body>
</html>