<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Sport Picks | Competition - <%= competition.name %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js'></script>
	<script type="text/javascript">
		function localTime(utcTime, adjustment){
			var m_lng = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
			var m_sht = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
			var d_lng = new Array("Sunday","Monday","Tuesday","Wednesday","Thusday","Friday","Saturday")
			var minutes = new String;
			var origTime = new Date();
			origTime.setTime((new Date(utcTime)).getTime()+(Number(adjustment)*60*60*1000));
			if (origTime.getMinutes()<10){minutes = "0"+origTime.getMinutes();}else{minutes = origTime.getMinutes()}
    		document.write(d_lng[origTime.getDay()]+" "+origTime.getHours()+":"+minutes+", "+m_sht[origTime.getMonth()]+" "+origTime.getDate()+" "+origTime.getFullYear());
		}
		
		function drawPointsHistoryGraph(){
			Chart.defaults.global.responsive = true;
			Chart.defaults.global.showScale = false;
			Chart.defaults.global.tooltipFontSize = 10;
			Chart.defaults.global.multiTooltipTemplate = "<%- pointsHistoryToolTip %>";
			var pointsHistoryChart = document.getElementById('pointsHistoryChart').getContext('2d');
			new Chart (pointsHistoryChart).Line(<%- pointsHistoryData %>,{bezierCurve:false,scaleShowGridLines:false});
		}
	</script>

</head>
<body>
	
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-check-square-o"></span> <%= competition.name %></h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/competitions">Competitions</a></li>
			<li class="active"><%=competition.name %></li>
		</ol>

		<!-- LOCAL INFORMATION -->

		<div class="col-sm-6">
			<div>
				<% if (rounds[0].roundsClosingSoon == true) { %><h2>closing soon</h2><% } %>
				<div class="list-group">
					<% rounds.forEach(function(round){ %>
						<% if (round.closingSoon) { %>
						<a href="/fixtures?competition=<%= competition.id %>&round=<%= round._id %>" class="list-group-item"><b><%= round.name %></b><%-round.viewBadge%></a> 
				 		<% } %>
					<% }); %>
				</div>
			</div>
				<h2>rounds</h2>
				<div class="list-group">
					<% rounds.forEach(function(round){ %>
						<a href="/fixtures?competition=<%= competition.id %>&round=<%= round._id %>" class="list-group-item"><b><%= round.name %></b><%-round.viewBadge%></a> 
					<% }); %>
				</div>
		</div>

		<div class="col-sm-6">
			<h2>competition ranking</h2>			
			<table class="table">
				<tr><th>Rank</th><th>Name</th><th>Competition Points</th></tr>
				<% rankings.forEach(function (rankings){ %>
				<tr <% if (rankings.user._id == user.id) { %> class="active" <% } %> ><td><%= rankings.ranking %></td><td><%= rankings.user.displayName %></td></td><td><%= rankings.points %></td></tr>				
				<% }) %>
			</table>

			<!--create canvas for chart -->
			<%if (pointsHistoryData) { %>
				<h4>Points History</h4>
				<canvas id="pointsHistoryChart" height="400" width="800"></canvas>
				<script type="text/javascript">window.onload = drawPointsHistoryGraph()</script>
			<% } %>
		</div>

	</div>
</div>
</body>
</html>